openapi: 3.0.3
info:
  title: Bhejna API
  description: |
    Bhejna is a high-performance WhatsApp messaging proxy and delivery engine. 
    It provides a contract-first API for sending messages, tracking delivery status, and receiving inbound messages via webhooks.
  version: 1.0.0
  contact:
    name: CodeNxt Lab
    url: https://codenxtlab.tech

servers:
  - url: https://api.bhejna.codenxtlab.tech
    description: Production Server

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
    InternalAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
        request_id:
          type: string
          example: "req_123"

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: string
              example: "INVALID_PHONE"
            message:
              type: string
              example: "Recipient phone number invalid"
            retryable:
              type: boolean
              example: false
        request_id:
          type: string
          example: "req_123"

    SendMessageRequest:
      type: object
      required:
        - recipient
        - message_type
        - payload
      properties:
        recipient:
          type: string
          description: "E.164 formatted phone number (e.g., +1234567890)"
          pattern: '^\+?\d{7,15}$'
        message_type:
          type: string
          enum: [text, template, image, document, audio, video, sticker, location, contacts, interactive]
        payload:
          type: object
          description: "Meta-compatible message payload"

    SendMessageResponse:
      type: object
      properties:
        job_id:
          type: string
          example: "01ARZ3NDEKTSV4RRFFQ69G5FAV"
        status:
          type: string
          enum: [queued]

    Tenant:
      type: object
      properties:
        id:
          type: string
        waba_id:
          type: string
        phone_number_id:
          type: string
        api_key:
          type: string
        messaging_limit:
          type: integer
        quality_rating:
          type: string
        is_paused:
          type: boolean
        webhook_url:
          type: string
        created_at:
          type: string
          format: date-time

paths:
  /v1/messages:
    post:
      summary: Send a WhatsApp message
      operationId: sendMessage
      description: Enqueues a message for delivery via WhatsApp.
      x-codeSamples:
        - lang: curl
          label: cURL
          source: |
            curl -X POST https://api.bhejna.com/v1/messages \
              -H "X-API-Key: nxt_live_your_key" \
              -H "Content-Type: application/json" \
              -d '{
                "recipient": "+1234567890",
                "message_type": "text",
                "payload": {
                  "body": "Hello from Bhejna!"
                }
              }'
        - lang: javascript
          label: Node.js
          source: |
            const response = await fetch('https://api.bhejna.com/v1/messages', {
              method: 'POST',
              headers: {
                'X-API-Key': 'nxt_live_your_key',
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                recipient: '+1234567890',
                message_type: 'text',
                payload: { body: 'Hello from Bhejna!' }
              })
            });
      security:
        - ApiKeyAuth: []
      parameters:
        - in: header
          name: Idempotency-Key
          schema:
            type: string
          required: false
          description: "Unique key to prevent duplicate message processing"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMessageRequest'
      responses:
        '202':
          description: Message accepted and queued
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SendMessageResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '429':
          description: Quota exceeded

  /v1/internal/tenant:
    post:
      summary: Sync or provision a tenant
      operationId: syncTenant
      description: Internal endpoint to provision or update tenant configuration.
      security:
        - InternalAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/Tenant'
                - type: object
                  properties:
                    record:
                      $ref: '#/components/schemas/Tenant'
      responses:
        '200':
          description: Tenant synced successfully

  /v1/internal/tenants/{id}/pause:
    put:
      summary: Pause a tenant
      operationId: pauseTenant
      description: Manually pause message delivery for a tenant.
      security:
        - InternalAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Tenant paused successfully

webhooks:
  delivery_update:
    post:
      summary: Delivery status update
      description: |
        Sent when a message status changes (sent, delivered, read, failed).
        All requests are signed with your Webhook Secret in the `X-Bhejna-Signature` header.
      x-codeSamples:
        - lang: javascript
          label: Node.js (Verify)
          source: |
            const crypto = require('crypto');
            const hmac = crypto.createHmac('sha256', process.env.WEBHOOK_SECRET);
            const digest = hmac.update(rawBody).digest('hex');
            const isValid = digest === headers['x-bhejna-signature'];
        - lang: go
          label: Go (Verify)
          source: |
            h := hmac.New(sha256.New, []byte(secret))
            h.Write(body)
            expected := hex.EncodeToString(h.Sum(nil))
            isValid := expected == signature
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                object:
                  type: string
                entry:
                  type: array
                  items:
                    type: object
      responses:
        '200':
          description: Webhook received
